vti_encoding:SR|utf8-nl
vti_author:SR|CODE-PAL\\Sumeet
vti_modifiedby:SR|CODE-PAL\\Sumeet
vti_timelastmodified:TR|04 Jun 2010 21:07:02 -0000
vti_timecreated:TR|26 May 2010 18:57:30 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|Blog\\ Post/Sumeet\\ -\\ Tutorial/Source\\ code/index.html index.html
vti_nexttolasttimemodified:TW|04 Jun 2010 20:28:08 -0000
vti_cacheddtm:TX|04 Jun 2010 20:28:08 -0000
vti_filesize:IR|1730
vti_cachedlinkinfo:VX|S|reset.css S|../images/button.png S|../images/rss.png S|../images/facebook.png S|../images/twitter.png S|../images/mail-rss.png
vti_cachedsvcrellinks:VX|FSUS|css/reset.css FSUS|images/button.png FSUS|images/rss.png FSUS|images/facebook.png FSUS|images/twitter.png FSUS|images/mail-rss.png
